/* Estilos generales */

body {
    background: linear-gradient(135deg, #0057b8, #f1c40f); /* Azul a Amarillo */
    color: white; /* Para que el texto se vea bien */
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}



footer {
    text-align: center;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.3);
    color: white;
}
.navbar-custom .nav-link {
    letter-spacing: 2px; /* Ajusta el valor según tus preferencias */
    text-transform: uppercase;
  }

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}



/* Asegura que el footer no empuje el contenido y el fondo se vea continuo */
#main-content {
    flex-grow: 1; /* Hace que la sección principal ocupe el espacio restante */
}

  
footer {
    background: transparent; /* Fondo transparente para el footer */
    color: white;
    padding: 20px;
    text-align: center;
}
